/* img{
  width: 30rem;
  height: 30rem;
  display: flex;
  margin: auto;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

.content{
  text-align: center;
  opacity: 0;
}
p{
  font-size: 2rem;
  color: rgb(3, 92, 63);
} */

/* 

.parentCircle{
  width: 0rem;
  background-color: rgba(37, 37, 41, 0.927);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  align-items: center;
  gap: 1rem;
}
.circle{
  opacity: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.circleRed{
  background-color: red;
}
.circleGreen{
  background-color: rgb(183, 255, 0);

}
.circleBlue{
  background-color: rgb(43, 0, 255);
  
}
.circlePink{
  background-color: rgb(255, 0, 140);
  
}
.circleOrange{
  background-color: rgb(255, 170, 0);
  
}
.circleBlack{
  background-color: rgb(0, 0, 0);
  
}
.circlePurple{
  background-color: rgb(255, 0, 234);
  
}
.circleYellow{
  background-color: rgb(255, 247, 0);
  
}






 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

/* .topContainer{
  visibility: hidden;
  overflow: hidden;
}
.imgContainer{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.imgContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.imgContainer::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top:0%;
  right: 0%;
  background-color: rgb(255, 255, 255);

} */

li {
  list-style: none;
  overflow: hidden;
}

.arr {
  width: 3rem;
  height: 4rem;
  position: absolute;
  box-shadow: 2px 2px 2px 2px rgb(246, 189, 154);
}

.arr img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.arr.left {
  right: -3rem;
  top: 50%;
}

.arr.right {
  transform: rotate(180deg);
  left: -3rem;
  top: 50%;
}

#emp {
  width: 21rem;
  height: 25rem;
  overflow: hidden;
  bottom: 0%;
  left: 0%;
  position: absolute;
  overflow: auto;
}
#emp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-container::after {
  content: "";
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: rgb(157, 160, 163);
  position: absolute;
  z-index: 1;
  top: 15%;
  left: -10%;
}

.main-container {
  height: 70vh;
  width: 40%;
  display: flex;
  margin: 2rem auto;
  position: relative;
  /* background-color: blue; */
}

.img-container,
.cont-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  /* background-color: antiquewhite; */
  height: 100%;
  width: 20rem;
  z-index: 2;
  overflow: hidden;
}

.cont-container li:not(:last-child) {
  opacity: 0;
}

.cont-container li {
  top: 35%;
  right: 0%;
  position: absolute;
}

.cont-container {
  width: 40%;
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
}
#emp li:not(:first-child) {
  opacity: 0;
}
